<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Demo4SSIV</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>CurrentTimeServlet</servlet-name>
  	<servlet-class>cn.com.tarena.web.servlet.CurrentTimeServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>StudentListServlet</servlet-name>
  	<servlet-class>cn.com.tarena.web.servlet.StudentListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ErrorServlet</servlet-name>
  	<servlet-class>cn.com.tarena.web.servlet.ErrorServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>ControllerServlet</servlet-name>
  	<servlet-class>cn.com.tarena.web.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>cn.com.tarena.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<servlet-class>cn.com.tarena.web.servlet.WelcomeServlet</servlet-class>
  </servlet>
    
  <servlet-mapping>
  	<servlet-name>CurrentTimeServlet</servlet-name>
  	<url-pattern>/currentTime</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>StudentListServlet</servlet-name>
  	<url-pattern>/studentList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ErrorServlet</servlet-name>
  	<url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ControllerServlet</servlet-name>
  	<url-pattern>*.asp</url-pattern>
  </servlet-mapping>
</web-app>